In [1]:
a = 10

In [3]:
a = 'c'

In [4]:
a

'c'

In [6]:
type(a)

str

In [8]:
int('123')

123

In [9]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

In [10]:
print('a')

a

In [11]:
print(123)

123

In [14]:
age = 32
print("my age is:",age)

my age is: 32

In [17]:
#f string
print(f"My age is: {age}")

My age is: 32

In [19]:
## format way
print("My age is: {0}".format(age))

My age is: 32

In [22]:
name = 'tejas'
age = 37
print('My name is {} my age is {}'.format(name,age))

My name is tejas my age is 37

In [24]:
print('My name is {1} my age is {0}'.format(age,name))

My name is tejas my age is 37

In [25]:
print('My name is {firstname} my age is {firstage}'.format(firstage = age,firstname = name))

My name is tejas my age is 37

In [26]:
name = 'tejas'
age = 37
degree = 'MD Forensic Medicine'
print("My age is {} and i have completed: my degree {} with the name of {}".format(age,degree,name))

My age is 37 and i have completed: my degree MD Forensic Medicine with the name of tejas

## Control flow
### Decision Making statements - 
1. if
2. if else
3. if elif else
4. Nested if
5. Single Statement Suites

In [33]:
## If Statements
age = 18
if age>=18:
    print('You are eligible to vote')
else:
    print("You are not eligible to vote")

You are eligible to vote

In [38]:
age = 17
if age<18:
    print('You are not eligible to vote')

You are not eligible to vote

In [40]:
a = int(input())
if age>=18:
    print('You are eligible to vote')
else:
    print("You are not eligible to vote")

 13

You are not eligible to vote

In [41]:
name = input("Enter the name")

Enter the name tejas

In [42]:
name

'tejas'

In [44]:
age = int(input('Enter your age'))

Enter your age 37

In [46]:
type(age)

int

In [58]:
age = int(input('Enter your age'))

if age>=18 and age<=45:
    print("You are young blood")

Enter your age 22

You are young blood

In [52]:
22<=45

True

In [57]:
22>=18

True

## if else statement

In [62]:
age = int(input('Enter your age'))

if age>=18 and age<=45:
    print("You are young blood")
else:
    print("Thank you we will let you know")

Enter your age 55

Thank you we will let you know

In [72]:
price = int(input('Enter product price'))
if price>1000:
    #price = price - (0.2*price)
    print(F"The price of the product is {price*0.8}")
else:
    #price = price - (0.3*price)
    print("The price of the product is {}".format(price*0.7))

Enter product price 20

The price of the product is 14.0

In [90]:
price = int(input('Enter product price'))
if price>3000:
    if price == 4000:
        print("Congratulations!! You will get a trip to Goa")
    print(f"The price of the product is {price*0.8}")
elif price>=2000 and price<=3000:
    if price == 2999:
        print("Congratulations!! You will get additional gift")
    print(f"The price of the product is {price*0.7}")
elif price>=100 and price<2000:
    print(f"The price of the product is {price*0.6}")
else:
    print('Let\'s drink tea')
    print('I will also be there')

Enter product price 55

Let's drink tea
I will also be there

## single statement suits

In [92]:
val = int(input('Enter the number:'))
if (val<=999):print("Value is less than equal to 999")
else:print("Go home")

Enter the number: 1000

Go home

# Loop statements
1. While loop
2. For loop
3. Nested Loop
4. Loop control(break,continue,pass)

In [99]:
# while loop while-else
joining_age = 25

while joining_age <= 60:
    joining_age+=1
    print(joining_age)
else:
    print("Its time for retirement")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
Its time for retirement

In [108]:
total_amount = 1000
while total_amount != 0:
    print(total_amount)
    total_amount = total_amount - 100
    
else:
    print('Put more money bank people')

print('Hello')

1000
900
800
700
600
500
400
300
200
100
Put more money bank people
Hello

# For loop

In [109]:
lst = ["Tejas",1,2,3,4,"Apple","Banana"]

In [110]:
type(lst)

list

In [112]:
lst[0]

'Tejas'

In [118]:
for item in lst:
    print(item)

Tejas
1
2
3
4
Apple
Banana

In [119]:
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]

In [125]:
for a in fruits_list:
    print(a)
    if a=="Cherry":
        print("The fruit is cherry")

Mango
Cherry
The fruit is cherry
Apple
Papaya
Banana

In [134]:
fruit = 'mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [131]:
fruit[2]

'n'

### nested for loop

In [137]:
n = 7

In [142]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [144]:
#range
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [145]:
## Nested Loops

In [154]:
n=7

for i in range(n):
    for j in range(i+1):
        print("*",end="")
    print('\r')

*
**
***
****
*****
******
*******

In [37]:
n = 10
for i in range(n):
    print(" "*(n-i),end='')
    for j in range(i*2+1):
        print("*",end="")
    print()
for i in range(n):
    print(" "*(i+1),end='')
    for j in range(n*2-i*2-1):
        print("*",end="")
    print()

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************
 *******************
  *****************
   ***************
    *************
     ***********
      *********
       *******
        *****
         ***
          *

In [155]:
### Loop control
## Break and continue

fruits_list

['Mango', 'Cherry', 'Apple', 'Papaya', 'Banana']

In [158]:
for i in fruits_list:
    if i=='Apple':
        print('The fruit is apple')
        break
    print(i)

Mango
Cherry
The fruit is apple

In [159]:
for i in fruits_list:
    if i=='Apple':
        print('The fruit is apple')
        pass
    print(i)

Mango
Cherry
The fruit is apple
Apple
Papaya
Banana

In [160]:
for i in fruits_list:
    if i=='Apple':
        print('The fruit is apple')
        continue
    print(i)

Mango
Cherry
The fruit is apple
Papaya
Banana

In [163]:
for i in range(5):
    print(i)

0
1
2
3
4