In [1]:
a = 10

In [3]:
a = 'c'

In [4]:
a

'c'

In [6]:
type(a)

str

In [8]:
int('123')

123

In [9]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

In [10]:
print('a')

a

In [11]:
print(123)

123

In [14]:
age = 32
print("my age is:",age)

my age is: 32

In [17]:
#f string
print(f"My age is: {age}")

My age is: 32

In [19]:
## format way
print("My age is: {0}".format(age))

My age is: 32

In [22]:
name = 'tejas'
age = 37
print('My name is {} my age is {}'.format(name,age))

My name is tejas my age is 37

In [24]:
print('My name is {1} my age is {0}'.format(age,name))

My name is tejas my age is 37

In [25]:
print('My name is {firstname} my age is {firstage}'.format(firstage = age,firstname = name))

My name is tejas my age is 37

In [26]:
name = 'tejas'
age = 37
degree = 'MD Forensic Medicine'
print("My age is {} and i have completed: my degree {} with the name of {}".format(age,degree,name))

My age is 37 and i have completed: my degree MD Forensic Medicine with the name of tejas

## Control flow
### Decision Making statements - 
1. if
2. if else
3. if elif else
4. Nested if
5. Single Statement Suites

In [33]:
## If Statements
age = 18
if age>=18:
    print('You are eligible to vote')
else:
    print("You are not eligible to vote")

You are eligible to vote

In [38]:
age = 17
if age<18:
    print('You are not eligible to vote')

You are not eligible to vote

In [40]:
a = int(input())
if age>=18:
    print('You are eligible to vote')
else:
    print("You are not eligible to vote")

 13

You are not eligible to vote

In [41]:
name = input("Enter the name")

Enter the name tejas

In [42]:
name

'tejas'

In [44]:
age = int(input('Enter your age'))

Enter your age 37

In [46]:
type(age)

int

In [58]:
age = int(input('Enter your age'))

if age>=18 and age<=45:
    print("You are young blood")

Enter your age 22

You are young blood

In [52]:
22<=45

True

In [57]:
22>=18

True

## if else statement

In [62]:
age = int(input('Enter your age'))

if age>=18 and age<=45:
    print("You are young blood")
else:
    print("Thank you we will let you know")

Enter your age 55

Thank you we will let you know

In [72]:
price = int(input('Enter product price'))
if price>1000:
    #price = price - (0.2*price)
    print(F"The price of the product is {price*0.8}")
else:
    #price = price - (0.3*price)
    print("The price of the product is {}".format(price*0.7))

Enter product price 20

The price of the product is 14.0

In [90]:
price = int(input('Enter product price'))
if price>3000:
    if price == 4000:
        print("Congratulations!! You will get a trip to Goa")
    print(f"The price of the product is {price*0.8}")
elif price>=2000 and price<=3000:
    if price == 2999:
        print("Congratulations!! You will get additional gift")
    print(f"The price of the product is {price*0.7}")
elif price>=100 and price<2000:
    print(f"The price of the product is {price*0.6}")
else:
    print('Let\'s drink tea')
    print('I will also be there')

Enter product price 55

Let's drink tea
I will also be there

## single statement suits

In [92]:
val = int(input('Enter the number:'))
if (val<=999):print("Value is less than equal to 999")
else:print("Go home")

Enter the number: 1000

Go home